/* add home page styles here */
img {
width: 200px;
height: 200px;
margin-left: 5px;
margin-right: 5px;
margin-top: 13px;
}
.guy{

}
#back {
    display: flex;
    color: rgb(200, 94, 94);
    font-size: larger ;
    margin-bottom: 50px;
    align-items: flex-start;
}

#guy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url("/assets/Baseball.svg.png");
    background-color: aqua;
    font-family: 'Rowdies', cursive;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
div {
    text-align: center;
    padding-left: 13px;
    padding-right: 13px;
    width: 50%;
    background-color: rgba(224, 219, 212, 0.726);
    overflow: hidden;

}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    text-align: center;
}